<head></head>
<body>
    <div>
        <div class="top">
            쌍따할아버지
        </div>
        <div class="middle">
            
        </div>
        <div class="bottom"></div>
    </div>
</body>
<footer></footer>